
*{

padding: 0;
margin: 0;
}


body{
      font-family: "Trirong", serif; 
}

.hero{
 padding: 100px;
}

.hearo__title{
    color: black;
}

.hero__description{
    color: #0922e0;
}

#hero__highlight{
    color: rgb(170, 42, 42);
}

.features{
    padding: 100px;
}

.features__2{
 padding: 30px 0;
}

.features__3{
    
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #29d313;
    margin-bottom: 10px;
    text-align: center;

}
.features__4{
    text-decoration: underline;
}

.features__description{
    text-align: center;
}


.co{
    padding: 100px;
    background-color: #5bb471;
    color: #fff;
    text-align: center;
}
.co_description{
    padding: 15px 0;
}

button{
    color: none;
    border: none;
}

.co_btn{
    padding: 10px 20px;

}
.color{
    text-align: center;
    padding: 100px;
    font-weight: 500;
}

.video_title{
    font-size: 32px;
    font-weight: 500;
}
.video_description{
margin-top: 10px;
color: #6e6e6e;
}

.video_controls{
    margin-top: 20px;
}

.video_button{
    border: 2px solid #5bb471;
    padding: 10px 30px;
    background: none;
}
.video_button__primary{
    margin-right: 20px;
}

.video_container{
    background-color: rgb(239, 230, 230);
    margin-top: 10px;
    height: 500px;
    width: 100%;
    box-shadow: 10px 5px 19px 6px rgb(17, 16, 16);
}

.flex{
   
    padding-bottom: 200px;
     
}
.flex_cards{
   
    padding: 100px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
    
}
.flex_card{
    background-color: rgb(211, 173, 173);
    padding: 30px;
    width: 50%;
    height: 400px;
    
}

.abc{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    gap: 60px;
    background-color: rgb(244, 246, 244);
}

.abc_left{
    background-color: rgb(166, 78, 78);
    width: 50%;
}

.abc_placeholder{
    background-color: rgb(223, 216, 216);
    width: 50%;
}



.abc_right{
    width: 50%;

}

.abc_btn{
    height: 20px;
    width: 43 0px;
    background-color: green;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
    border: 2px solid black;
    
}
.abc_right{
    display: flex;
    flex-direction: column;
    gap: 20px ;
}

.abc_description{
    
}

.abc_li{
    border-bottom: 1px solid rgb(91, 78, 78);
    padding: 7px 0px;
    list-style-type: none;

}

.abc_li:before{
    content: "->";
    margin-right: 10px;
    color: #111110;

}
.abc_form{
    font-family: inherit;
    display: flex;
    flex-direction: column;
    gap: 10px;


}